.input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input__bubble {
  position: relative;
  display: flex;
  flex: 0.5;
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 10px;
}

.input__bubble::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--background-color) transparent;
}

.input__bubble_text {
  color: var(--text-color);
  outline: none;
  border: none;
  background-color: transparent;
  font-size: medium;
  width: 100%;
}
